<footer>
      <div class="my-footer">
        <div class="foot text-center">
            <p class="text-white words_footer"> Proudly Powered by Bongani Phala | Theme by: Bongani Phala 2020</p>
        </div>
      </div>
  </footer>