<section class="contact_banner">
<div class="contact_us">
<div class="them animate__animated animate__backInDown">
<h1 class="text-white">About us</h1>
<h5 class="text-white">Welcome to our site, learn more about us</h5>
</div>
</div>
</section>

<%= render 'pages/nametime.html.erb' %>
<h1>About</h1>