<!DOCTYPE html>
<html>
    <head>
   
    </head>
<body>
<div class="banner">
    <div class="me">
        <div class="them animate__animated animate__backInDown">
        <h1 class="text-white">Share Your thoughts with the world</h1>
        <hr class="line1">
        <h5 class="text-white"> Create and Read a blog post</h5>
        <%= link_to "Contact Me", "http://www.bonganiphala.com", :target => "_blank", class:'btn btn-primary' %>
        </div>
    </div>
</div>
</body>
</html>