<section class="contact_banner">
<div class="contact_us">
<div class="them animate__animated animate__backInDown">
<h1 class="text-white">Our services</h1>
<h5 class="text-white">Take a look at what we do.</h5>
</div>
</div>
</section>

<section class="container mt-5">

<h1><%= @title %> to Services</h1>
<% @services.each do |service| %>
    <div class= "bg-secondary text-white border border-dark mb-5" >
        <%= service %>
    </div>
<% end %>
<%= render 'pages/nametime.html.erb' %>
</section.